<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="TallyPay API Gateway Automation Suite">
    <test name="TallyPay API Gateway Automation Suite">

        <classes>
            <class name="com.example.restassuredproject.testClasses.TestClassForLookUpWallet"/>
            <class name="com.example.restassuredproject.testClasses.TestClassForSignUp"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForNIDClear"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForNIDFrontUpload"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseFoNIDBackUpload"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForConfirmNID"/>
            <class name="com.example.restassuredproject.testClasses.TestCasesForSelfieUpload"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForPinSet"/>
            <class name="com.example.restassuredproject.testClasses.TestAttachBank"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForActiveUser"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForLogin"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForCashIn"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForRecharge"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForSendMoney"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForCashOut"/>
            <class name="com.example.restassuredproject.testClasses.TestCaseForNPSBCredit"/>
        </classes>
    </test>
</suite>
